html,
body {
  background: #eee;
  color: #000;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

header,
h1,
h2,
h3 {
  font-family: Georgia, serif;
}

footer {
  padding: 40px 0;
}

img {
  max-width: 100%;
}

.beer-data {
  background: #efefef;
  padding: 20px;
}

.label {
  display: inline-block;
  width: 75px;
}

.header {
  align-items: flex-end;
  border-bottom: 3px solid #707;
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
  padding: 10px 20px;
}

.header-logo {
  display: block;
  margin: 10px 0;
  width: 150px;
}

.footer-logo {
  display: block;
  margin: auto;
  width: 150px;
}

.page-container {
  position: relative;

  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  max-width: 750px;
}

.blog-content {
  background: #fff;
  padding: 0 20px;
}

@media (min-width: 650px)  {
  .blog-content {
    padding: 0 50px;
  }
}

.list-head {
  margin-bottom: 2px;
}

.home-content {
  padding-bottom: 25px;
}

@import 'menu.css';
@import 'biglink.css';
